MONGODB_URL=mongodb+srv://admin:4pJc6ODtuzeUfOEL@firstcluster.z3yuwh3.mongodb.net/MyDataBase?retryWrites=true&w=majority
PORT=3000
MONGODB_USER=admin
MONGODB_PASSWORD=4pJc6ODtuzeUfOEL
MONGODB_DB=MyDataBase
JWT_SECRET=fduergrengerkndfnjvdfjkn12323435ndrenrng454948
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=8bb577001@smtp-brevo.com
SMTP_PASSWORD=xsmtpsib-bb1e910256ff6049a0809da218ce2fe787d4402251ddb51c67de89606c2a8cfd-D4wMOhWd69fXsGg3
SMTP_FROM=maynarisochka@gmail.com
APP_DOMAIN=http://localhost:3000/auth
CLOUDINARY_CLOUD_NAME=dwy3lum2v
CLOUDINARY_API_KEY=287387686578216
CLOUDINARY_API_SECRET=7QnRpzAUw6rgq60dPwBNDQrp6zQ
