MONGODB_URL=mongodb+srv://admin:4pJc6ODtuzeUfOEL@firstcluster.z3yuwh3.mongodb.net/MyDataBase?retryWrites=true&w=majority
PORT=3000
MONGODB_USER=admin
MONGODB_PASSWORD=4pJc6ODtuzeUfOEL
MONGODB_DB=MyDataBase
JWT_SECRET=fduergrengerkndfnjvdfjkn12323435ndrenrng454948
